body {
	background-color:lightgrey;
	margin: 0;
	padding: 0;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	text-align: center;
}
h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin-top:15px;
}
h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
}

b {
	color: #001D4A;
}
p {
	font-family: 'Open Sans', sans-serif;
}
ul {
	font-family: 'Open Sans', sans-serif;
}
.center {
	margin:0 auto;
}


/* navigation bar */

#navbar {
	text-align: center;
}

#navbar ul {
	list-style-type: none;
	bottom:0;
	margin: 0 auto;
	padding:0;
	position: fixed;
	text-align: center;

	width: 100%;
	background-color: #006992;
	height: 60px;
	z-index:9999;


	}
#navbar li {
	float: left;
	font-family: 'Oswald', sans-serif;
	font-size: 1.4em;


}
#navbar a:link, a:visited {
	display: inline-block;
	width: 80px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px;

}
#navbar a:hover, a:active {
	background-color: lightblue;
}

/* each slide */
.page {
	height: 100vh; width: 100%;
}

.content {
	padding: 80px 10% 80px 10%;
	margin:0;
}

/* Why should you care about sleep deprivation?*/
.top-header {
	position: absolute;
	bottom:0;
	padding:0;
	height: 60px;
	width: 100%;
	background-color: #001D4A;
	color: #FFF;
	letter-spacing: 5px;
}
/* added on scroll */
.fixed {
	position: fixed;
	top:0;
	height: 60px;
	z-index: 9999;
}
/* slide 1 */
#intro{
	background: url('./img/sleepy_dog_edited.jpg') 50% 0 no-repeat fixed;
	background-size: cover;
	color:white;
	padding:0;
	margin:0;
}
.center-text {
	padding: 200px 0 200px 0;
}
#dangers {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	text-align: center;
	color: #FFF;
	margin:0;
	padding:0;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: lighter;
}
#sleep {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 120px;
	text-align: center;
	color: #FFF;
	padding:0;
	text-transform: uppercase;
	letter-spacing: 10px;
	position: relative;
	top: -30px;
}
#deprivation {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 70px;
	text-align: center;
	color: #FFF;
	padding:0;
	text-transform: uppercase;
	letter-spacing: 0px;
	position: relative;
	top: -70px;
}

/*subsequent slides */

#page-two {
	background-color: #A6B9C0;
}
#page-three {
	background-color: #ECA400;
}
#page-four {
	background: url('./img/food.jpg') 50% 0 no-repeat fixed;
	background-size: cover;
	color: white;
}
#page-four b{
	color: lightblue;

}
#page-five {
	background-color: grey;
}
#page-five b {
	color:lightblue;
}
#page-six {
	background: url('./img/ocean.jpg') 50% 0 no-repeat fixed;
	background-size: cover;
	color: white;
}
#page-six b {
	color: lightblue;
}
#page-seven {
	background-color: #E9E9ED;
}
#page-seven a {
	color: #006992;
	text-align: center;
}
#rats-img {
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#page-eight {
	background-color: purple;
}